// Bootstrap overrides
$font-family-base: 'Roboto Condensed';
$light: #FBF8E9;

// Imports
@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

// Cusotmizations
header {
  height: 400px;
  min-height: 50px;
  background-image: url("../images/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fill;
}

.navbar {
  width: 100%;
}

.navbar-brand {
  margin: -8px 0 -8px 0;
}

ul.navbar-nav .nav-item {
  padding: 0 10px;
  font-size: 1.2em;

  @include media-breakpoint-up(md) {
    &:nth-child(2) {
      border-left: 1px solid $gray-300;
      border-right: 1px solid $gray-300;
    }
  }
}

.logo {
  background-image: url("../images/logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fill;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  float: left;
  width: 100%;
  text-align: center;
}

.justify-text {
  text-align: justify;
  text-justify: inter-word;
}

.social-icon {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fill;
  width: 48px;
  height: 48px;
}

.social-icon.instagram {
  background-image: url(../images/social/instagram.svg);
}
.social-icon.email {
  background-image: url(../images/social/mail.svg);
}