@inject IWeatherService weatherService

<div class="@TextClass()">
    <div class="d-flex flex-column">
        <div class="text-end">Sydney</div>
        <div>@DisplayDate()</div>
        <div class="text-end">@(weather?.CurrentWeather.Temperature) &deg;C</div>
    </div>
</div>

<MediaQuery Media="@Breakpoints.SmallDown" @bind-Matches="IsSmall"></MediaQuery>

@code {
    WeatherResponse weather { get; set; }
    System.Threading.Timer timer;
    bool isSmall = false;
    private bool IsSmall
    {
        get => isSmall;
        set
        {
            Console.WriteLine($"Getting {IsSmall} css class");
            isSmall = value;
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {   
        timer = new System.Threading.Timer(async (object? stateInfo) =>
        {
            weather = await weatherService.GetWeatherAsync();
            StateHasChanged();
        }, new System.Threading.AutoResetEvent(false), 0, 300000);  // update every 5 minutes
    }

    string DisplayDate() => weather?.CurrentWeather.Time.ToString("ddd, MMM dd, yyyy");

    string TextClass()
    {
        return $"weather-widget fs-3 font-weight-bold {(IsSmall ? "text-dark" : "text-light")}";
    }
}