@page "/contact"

<ContentLayout Header="Contact">
    <Content>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-12">
                        <h3>Damien Smith</h3>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-2 col-md-1">
                        Phone:
                    </div>
                    <div class="col-10 col-md-11">
                        <a href="tel:0403291191">0403 291 191</a>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-2 col-md-1">
                        Email:
                    </div>
                    <div class="col-10 col-md-11">
                        <a href="mailto:southpacificseaurchins@gmail.com" target="_blank">southpacificseaurchins@gmail.com</a>
                    </div>                    
                </div>
                <div class="row pt-2">
                    <div class="col">
                        <span class="text-decoration-underline">Social Media</span>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col" style="margin-left: -6px">
                        <a href="https://instagram.com/south_pacific_sea_urchins" class="social-icon instagram" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </Content>
</ContentLayout>